.image{
    object-fit: contain;
    
    padding: 5px;
}
.crds{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}
.crd{
    background-color: white;
    margin: 10px;
    border: 1px solid rgba(87, 83, 83, 0.623);
    border-radius: 5px;
    cursor: pointer;
}
.name{
    text-align: center;
    font-size: 16px;
}
.headline{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.849);
    cursor: none;
}
.section{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
}