.pd{
    padding-left: 150px;
    padding-right: 150px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    height:130px;

}
.items{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 25px 0px;
}
.name{
    text-align: center;
    font-size: 14px;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}